<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="His name is Robert Paulson">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|default("Robert") }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="alternate" href="{{ url_for('feed') }}" type="application/atom+xml" title="Updates from Robert">
</head>
<body>
    <div class="container">

        <!--[if lt IE 7]>
            <p class="msg">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="description col-sm-3">
            <div class="description-inner-wrapper">
                <h2>{ meta }</h2>
                <p>
                    Shotguns and terminators out of stock and budget, three students from
                    <a href="http://www.eurecom.fr/">Eurecom</a> try to stay ahead of <a href="{{ url_for('about') }}">the game</a> in the war against the machines
                    by building their own killer robots. With lego.
                </p>

                <p>All the madness brought to you by:</p>
                <ul>
                    <li><a href="https://github.com/afflux">@afflux</a></li>
                    <li><a href="https://github.com/damien72">@damien72</a></li>
                    <li><a href="https://github.com/thusoy">@thusoy</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">

            {% block content %}
            {% endblock %}

        </div>
    </div>

    {% if debug %}
        <script async src="http://localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>
