{% extends 'base.html' %}

{% block content %}
    {% for article in articles %}
        {% set post_url = url_for('show_blogpost', title=slugify(article.title)) %}
        <a href="{{ post_url }}">
            <h1>{{ article.title }}</h1>
        </a>

        {{ article.teaser }}

        <span class="byline">
            {{ article.author }}, {{ article.date_added }}
            <span class="permalink"><a href="{{ post_url }}">Read more &rarr;</a></span>
        </span>
    {% endfor %}
{% endblock %}
